/* reset from Kevin Powell edit if you like */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100rem;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 55ch;
}

/* for container queries, landmarks as containers */
body > :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Theme */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);
  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);
}

/* Utilities */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Composition */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* Global/base */
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    color: var(--clr-primary-light-1);
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var( --clr-neutral-100);
  .logo{
    display: inline;
  }
  img {
    display: inline;
    width: 4rem;
    /* changed the logo color using figma */
  }
  h3{
    display: inline-block;
    color: var(--clr-accent);
    vertical-align: super;
  }
  .nav{
    list-style-type: none;
  }
  .nav_list li{
    display: inline-block;
    padding-right: 5rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
  }
}


header {
  padding-top: 1rem;
  h2 , p {
    text-align: center;
    margin: 2rem auto
  }
}

.images_container{
max-width: 40%;
height: 27rem;
border: 1rem solid var( --clr-neutral-100);
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
margin: auto;
margin-bottom: 3rem;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-template-areas: 
"img1 img1 img2 img3 img5 img5"
"img1 img1 img2 img3 img5 img5"
"img1 img1 img4 img4 img6 img6"
"img1 img1 img4 img4 img6 img6";
justify-items: stretch;
align-items: stretch;  

.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }
}

.mid_section{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var( --clr-neutral-100);
  height: 18rem;
  margin: auto;
  .planting{
    padding: 30px;
    width: 10rem;
    background-color: var(--clr-green-400);
    border-radius: 50%;
  }
  div{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 20rem;
  }
  h2{
    width: 20rem;
    padding: 2rem 0;
  }
  .email_holder{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    width: 20rem;
    height: 2.3rem;
    border-radius: 30px;
    padding: 0.1rem;
    padding-left: 1rem;
  }
  input{
    display: inline-block;
    border: none;
    width: 14rem;

  }
  button{
    display: inline-block;
    background-color: var(--clr-green-400);
    color: var(--clr-neutral-100) ;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 5rem;
    height: 2rem;
    border-radius: 30px;
    padding: 0.1rem;
  }
}


.card_container{
  display: grid;
  max-width: 55%;
  justify-items: center;
  margin: 7rem auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1vw 1vh;

  .card {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: 1.75fr 0.5fr 2fr 0.5fr;
    /* grid-template-rows: 1fr 0.5fr 1fr 0.3fr; */
    height: 40rem;
    /* height: 39rem; */
    width: 13vw;
    border: 0.5rem solid var( --clr-neutral-100);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .card_img { 
    /* width: 10rem; */
    grid-area: 1 / 1 / 2 / 2; }

  .tags { 
    font-size: 0.5em;
    padding: 3px;
    grid-area: 2 / 1 / 3 / 2; }

  .card_info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1.5fr;
    gap: 0px 0px;
    grid-area: 3 / 1 / 4 / 2;
    padding: 0.5rem;
  }

  .card_name { 
    font-size: 1.5em;
    grid-area: 1 / 1 / 2 / 2; }

  .card_details { 
    font-size:clamp(0.5em, 0.75, 1em); 
    grid-area: 2 / 1 / 3 / 2; }

  .avatar {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-area: 4 / 1 / 5 / 2;
    align-items: center;
    padding: 0.5rem;
  }

  .avatar_img { 
    height: 2rem;
    grid-area: 1 / 1 / 2 / 2; }

  .avatar_details { 
    font-size: 0.75em;
    margin-left: 1rem;
    grid-area: 1 / 2 / 2 / 3; }

  .tag{
    font-size: clamp(0.5em, 0.65rem, 0.75rem);
    display: inline-block;
    border: 1px solid;
    border-radius: 20px;
    margin: 4px ;
    padding: 6px;
    color: var(--clr-accent-light-1);
  }

  .blommor{
    background-color: var(--clr-flower);
  }
  .atbart{
    background-color: var(--clr-edible);
  }
  .grönska{
    background-color: var(--clr-green);
  }
  .solälskande{
    background-color: var(--clr-sunloving);
  }
  .lättodlat{
    background-color: var(--clr-easy);
  }
  .dekorativ{
    background-color: var(--clr-decorative);
  }
  .färgstark{
    background-color: var(--clr-colorful);
  }
  .tålig{
    background-color: var(--clr-robust);
  }
  .kryddor{
    background-color: var(--clr-air);
  }
  .doftande{
    background-color: var(--clr-fragrant);
  }
  .snabbväxande{
    background-color: var(--clr-fast);
  }
  .luftfuktande{
    background-color: var(--clr-air);
  }
}

.bottom_section{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var( --clr-neutral-100);
  height: 18rem;
  margin-bottom: 2rem;
  .seedling{
    padding: 30px;
    width: 10rem;
    background-color: var(--clr-green-400);
    border-radius: 50%;
  }
  h2{
    width: 22rem;
    padding: 2rem 0;
  }
  button{
    background-color: var(--clr-green-400);
    color: var(--clr-neutral-100) ;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 10rem;
    height: 2rem;
    border-radius: 30px;
    margin-top: 0.25rem;
    float: inline-end;
  }
  div{
    padding: 2rem;
  }
}

footer{
  color: var(--clr-neutral-100);
  background-color: var(--clr-green-400);
  padding: 3rem;
  display: grid;
  grid-template-columns:  1.2fr 1.2fr 1fr 0.6fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". footer_info . footer_nav .";
  .footer_info { 
    grid-area: footer_info;
    svg{
      display: inline-block;
    }
    h3{
      display: inline-block;
      margin-left: 1rem;
    }
    p{
      margin: 1rem;
    }
    img, b{
      display: inline-block;
      margin-left: 1rem;
    }
    .phone{
      margin-bottom: 1rem;
    }
  }
  .footer_nav { 
    grid-area: footer_nav; 
    a {color: var(--clr-neutral-100);}
    li{
      margin-bottom: 1rem;
      list-style: none;
      padding-left: 4rem;
    }
  }
}


@media screen and (max-width: 1280px) {
  .images_container{
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6";
    width: 80vw;
    height: 40vw;

  }
  .mid_section{
    flex-direction: column-reverse;
    height: inherit;
    padding: 2rem;
    div{
      width: 35rem;
    }
    h2 {
      width: 30rem;
      padding: 2rem 0;
      margin: auto;
      text-align: center;
    }
    .email_holder{
      width: 30rem;
      justify-content: space-between
    }
    input{
      padding-left: 9rem;
      width: 24rem;
    }
  }
  .card_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 75%;
    .card {
      display: grid;
      width: 58%;
      
    }
  
    .card_img { 
      
    }
  
    .tags { 
      
    }
  
    .card_info {
      display: grid;

    }
  
    .card_name { 
      
    }
  
    .card_details { 
      
    }
  
    .avatar {
      display: grid;

    }
  
    .avatar_img { 
      
    }
  
    .avatar_details { 
      
    }
  
    .tag{

      
    }
  
    
  }
  .bottom_section{
    flex-direction: column;
    height: inherit;
    padding: 2rem;
    h2, p{
      text-align: center;
      padding: 0.5rem;
      margin: auto;
    }
  }
  footer{
    display: block;
    .footer_nav{
      display: none;
    }
  }
}